<div class="body" id = "body">
<div class = "header">
  <h1 class="heading"> Indecision</h1>
  <h6 class = "subheading">Put your life in the hands of a computer.</h6>
</div>

<!-- What should i do button -->
  <button id= "showButton" class = "showButton showColor" [disabled] = "isDisabled" (click)= "showLatestInput()"> What Should I Do?</button><br><br>
  <div class="outerBox" id = "outer"> 
    <div class = "innerBoxHeader" >
      <h6 class="textStyle">Your Options</h6>
      <button class = "RemoveAllButton hover" (click) = "removeAll()"> Remove All </button>
    </div>

    <h6 class="textStyle textCenter" *ngIf = "isDisabled">Please add an option to get started! </h6>
    <ol>
      <li *ngFor = "let input of inputStored" class = "text">
        {{input}} <button class="removeButton hover" (click) = "remove(input)">
            Remove
          </button>
      </li>
    </ol>
    <hr>
    <p class="errorMsg" *ngIf = "showError">Enter valid value to add item. </p>
    <p class="errorMsg" *ngIf = "duplicateError">The item already exists. </p>
    <input type = "text" class = "input" placeholder = "Enter Value" (keyup)="storeValue($event)" [value] = inputValue required>
    <button class="addButton hover" (click)="add()">Add Option</button>
  
  </div>
</div>
<div class = "modal" *ngIf = "showModel">
  <h3>Selected Option</h3>
  <h6> {{latestInput}} </h6>
  <button (click) = closeModel()>Okay</button>
</div>